@media screen and (min-width: 1921px) {
  .author_main{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: none;
}
  .menu_plus{
    display: none;
}
}
@media screen and (max-width: 1312px){
  .menu_block{
    width: 70px;
  }
  .menu_list{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }
  .menu{
    display: grid;
    padding: 10px 0;
    gap: 10px;
    width: 70px;
  }
  .menu_ico{
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .menu_plus{
    display: none;
  }
  .menu_text{
    margin: 0 auto;
    font-size: 10px;
  }

@media screen and (max-width: 1127px) {
  .author_main{
    grid-template-columns: 1fr 1fr 1fr;
}
  .menu_plus{
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .author_main{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .author_main{
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
    padding: 0 0 50px 0;
  }
  .author_video_block{
    max-width: 100%;
  }

  .menu{
    padding: 0;
    gap: 2px;
  }
  .menu_author_block{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu_block{
    position:fixed;
    bottom:0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    height: max-content;
    width: 100%;
  }
  .menu_list{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 6px 0;
  }
  .header_block{
    display: none;
  }
  .menu_plus{
    display: flex;
  }
  .menu_ico_plus{
    height: 30px;
  }
  .author_video_block:hover .author_video_preview_img{
    background: none;
    opacity: 1;
  }
  .author_block:hover{
    background: #3a3a3a;
  }
  .author_video_block{
    gap: 0;
  }
  .author_logo_info_block{
    padding: 10px 10px 30px 10px;
  }
  .author_title_info_block{
    gap: 5px;
  }
  .author_name_channel_info_block{
    display: flex;
    flex-wrap: wrap;
  }
}
}