.header{
  height: 110px;
  background: #212121;
}
.container {
  display: flex;
}
.menu {
  width: 240px;
  background: #212121;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  margin: 0 auto;
  padding: 30px 20px;
}
.main .single {
  display: grid;
  max-width: 360px;
  height: 320px;
  justify-content: flex-start;
  align-items: flex-start;
}
.single{
  transition: .1s;
}
.single:hover{
  transition-duration: .25s;
  transition-delay: 1s;
  transform: scale(1.2);
  background: #202020;
  z-index: 4;
}
.single:hover .later_and_turn{
  transition-delay: 1s;
  transition-duration: .25s;
  opacity: 1;
}
.main .cover_and_info {
  display: grid;
  gap: 12px;
}
.cover_details div {
  background: #000;
  margin: 4px;
  padding: 3px 4px;
}
.main .cover_and_details {
  position: relative;
}
.cover_details {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main .cover_and_details:hover .preview {
  opacity: 1;
}
.time {
  z-index: 1;
}
.preview {
  z-index: 2;
}
.cover_img {
  z-index: -1;
}
.main .preview {
  opacity: 0;
}
.main .time {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main .logo_and_info {
  display: flex;
  gap: 12px;
}
.main .logo_img {
  max-width: 36px;
  border-radius: 100%;
}
.main .title_and_info {
  width: 100%;
  gap: 7px;
}
.main .title_and_properties {
  display: flex;
  position: relative;
  width: 100%;
}
.main .properties {
  display: flex;
  position: absolute;
  right: 0;
  padding: 10px;
  margin: -8px -10px;
  background: none;
  border-radius: 100%;
}
.main .properties:active {
  background: #3a3a3a;
}
.main .properties_img {
  max-width: 15px;
  opacity: 0;
}
.main .single_a:hover .properties_img {
  opacity: 1;
}
.main .title {
  max-width: 287px;
  max-height: 38px;
  overflow: hidden;
}
.main .title_h1 {
  justify-self: left;
  float: left;
}
.main .views_and_release {
  display: flex;
  flex-wrap: wrap;
}
.main .brand_and_info {
  gap: 2px;
}
.main .brand_h2:hover {
  opacity: 1;
}
.later_and_turn{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  gap: 10px;
  padding: 120px 10px 10px 10px;
  opacity: 0;
  background: #202020;
  margin-bottom: -10%;
  z-index: -5;
}
.later_turn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  width: 100%;
  background:#373737;
  padding: 5px 10px;
}
.later_img{
  width: 15px;
}
.later_opa{
  opacity: 0.5;
}
