* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto","Arial",sans-serif;
  transition: all 0.5s;

}
body {
  margin: 0;
  padding: 0;
  background: #181818;
}
div{
  display: grid;
  height: max-content;
}
h1{
  font-size: 14px;
}
h2{
  display: block;
  font-size: 13px;
  opacity: 0.5;
  font-weight: normal;
}
h3{
  font-size: 12px;
}
.but{
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  margin: 60px;
  background: #c23535;
  transition: 0.15s;
  font-family: Calibri;
  font-weight: bold;
}
#menu2{
  margin: 120px;
}
.but:hover{
  background: #812222;
}
.but:active{
  background: #4e1111;
}
.header{
  height: 55px;
  background: #212121;
  border-bottom: 1px solid #383838;
  align-items: center;
}
.header_logo_info_block{
  max-width: 280px;
}
.header_logo_block{
  display: flex;
  z-index: 100;
  justify-content: center;
}
.header_logo_img{
  height: 20px;
}
.header_logo{
  display: flex;
  gap: 8px;
}
.header_logo_text{
  font-size: 20px;
  font-weight:100;
  font-family: Impact;
}
.header_double{
  height: 55px;
  background: #212121;
  border-bottom: 1px solid #383838;
}
.menu_burger{
  z-index: 101;
  position: absolute;
  width: 70px;
  justify-content: center;
  align-items: center;
}
.menu_burger_img{
  height: 20px;
}
.menu_author_block{
  display: flex;
}
.menu_block{
  display: block;
  background: #212121;
  width: 280px;
  margin: -110px 0 0 0;
  padding: 55px 0 0 0;
}
.menu_list{
  padding: 15px 0;
  border-bottom: 1px solid #383838;
}
.menu{
  display: flex;
  align-items: flex-end;
  gap: 25px;
  align-items: center;
  padding: 10px 0 10px 27.5px;
  width: 70px;
}
.menu_a:hover{
  background: #3a3a3a;
}
.menu_ico{
  height: 20px;
}
.menu_plus{
  display: none;
}
.menu_text{
  font-weight: normal;
}
.author_main{
  display: grid;
  flex-wrap: wrap;
  padding: 30px 20px;
  gap: 20px;
  background: #181818;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: 0.5s;
}
.author_video_block{
  gap: 12px;
  max-width: 350px;
}
.author_video_block:hover .author_video_preview_img{
  background: #181818;
  opacity: 0.5;
}
.author_video_preview{
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.author_video_preview:hover .author_duration{
  opacity: 0;
}
.author_video_preview:hover .author_viewing{
  opacity: 1;
}
.author_video_preview_img{
  width: 100%;
}
.author_duration_info_block{
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 4px;
}
.author_duration_info_block h3{
  background: #000;
  padding: 2px 6.5px;
  
}
.author_duration{
  display: flex;
  position: absolute;
}
.author_viewing{
  font-weight: normal;
  opacity: 0;
}
.author_logo_info_block{
  display: flex;
  gap: 10px;
}
.author_channel_logo_img{
  border-radius: 100%;
  max-width: 35px;
}
.author_views_release_block{
  display: flex;
  flex-wrap: wrap;
}
.author_title_info_block{
  gap: 10px;
}
.author_name_channel_info_block{
  gap: 3px;
}
.author_name_channel_h2:hover{
  opacity: 1;
  transition: 0.1s;
}