@media screen and (min-width: 1921px) {
  .author_main{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: none;
}
}
@media screen and (max-width: 1312px){
  .menu{
    width: 70px;
  }
}
@media screen and (max-width: 1127px) {
  .author_main{
    grid-template-columns: 1fr 1fr 1fr;
}
}
@media screen and (max-width: 650px) {
  .author_main{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .author_main{
    grid-template-columns: 1fr;
  }
}